/* ==========================================================================
   Component: Dropdown
   ========================================================================== */

.c-dropdown__content-open {
	// No padding or margin on the dropdown content, since this should be managed by floating-ui library
	padding: 0 !important;
	margin: 0 !important;
}
