.husky
.idea
.storybook
node_modules
openshift
src
.editorconfig
.gitignore
.npmignore
.npmrc
.nvmrc
.snyk
.svgrrc.js
commitlint.config.js
docker-compose.yml
Dockerfile
Dockerfile.dev
Jenkinsfile
jest.config.js
tsconfig.json
vite.config.mts
biome.json
!dist/
