@use "quill/dist/quill.snow";
@use "quill2-emoji/dist/style";
@import "quill-table-better/dist/quill-table-better.css";

.c-rich-text-editor {
	position: relative;

	pre,
	textarea {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: auto;
		height: auto;
		margin: 0;
		background-color: white;
		z-index: 1;
		outline: none;
		border: 0;
		padding: 1.5rem;
	}

	.ql-editor {
		word-break: normal;
	}

	&.c-rich-text-editor--hide-h1 .ql-header .ql-picker-options .ql-picker-item[data-value="1"] {
		display: none;
	}

	&.c-rich-text-editor--hide-h2 .ql-header .ql-picker-options .ql-picker-item[data-value="2"] {
		display: none;
	}

	&.c-rich-text-editor--hide-h3 .ql-header .ql-picker-options .ql-picker-item[data-value="3"] {
		display: none;
	}

	&.c-rich-text-editor--hide-h4 .ql-header .ql-picker-options .ql-picker-item[data-value="4"] {
		display: none;
	}

	&.c-rich-text-editor--hide-h5 .ql-header .ql-picker-options .ql-picker-item[data-value="5"] {
		display: none;
	}

	&.c-rich-text-editor--hide-h6 .ql-header .ql-picker-options .ql-picker-item[data-value="6"] {
		display: none;
	}

	&.c-rich-text-editor--hide-normal .ql-header .ql-picker-options .ql-picker-item[data-value=""] {
		display: none;
	}

	&--fullscreen {
		position: fixed;
		inset: 0;
		z-index: 9999;
		background: white;

		.ql-container {
			height: calc(100% - 42px); // 42px = default quill toolbar height
		}
	}
}